

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#logo {
  margin-bottom: 50px;
  /* text-align: center; */
}

ul.nav {
  text-transform: uppercase;
}

ul.nav li {
  padding: 10px 0px 10px 20px;
}

ul.nav li a {
  text-decoration: none;
}

ul.nav li i {
  opacity: .5;
}

ul.nav li:hover {
  background-color: #eee;
}

ul.nav li:hover i {
  /* margin-left: 5px; */
  opacity: 1;
}










